* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 250vh;
  display: flex;
}

.general {
  width: 100%;
  display: flex;
  margin: 10px;
  padding: 10px;
}

.left-side {
  width: 40%;
  height: 100%;
  padding: 50px 50px;
  background-color: white;
}

.right-side {
  width: 60%;
  height: 100%;
  padding: 50px 50px;
  background-color: #d9e7f0;
}

.imag-container {
  width: 250px;
  text-align: center;
  border-radius: 50%;
  height: 250px;
  overflow: hidden;
}
.contact {
  margin-top: 30px;
  text-align: left;
}
.contactnumber1 img {
  display: flex;
  align-items: center;
  font-size: 13px;
  width: 20px;
}
.contactnumber2 img {
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 20px;
}
.contactnumber3 img {
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 20px;
}

.contact h1 h2 h3 h4 {
  font-family: Arial;
  font-size: 10px;
}
.paragraphe3 {
  margin-left: 14px;
}
.paragraphe4 img {
  width: 45px;
  height: 50px;
  margin: 15px;
}
.paragraphe5 img {
  width: 45px;
  height: 50px;
  margin: 15px;
}

.contact {
  font-weight: lighter;
  font-size: medium;
}
.h4right h5 {
  font-weight: bold;
  font-size: 16px;
}
.education {
  border: 10px solid #fff;
  padding: 5px;
  display: inline-block;
  width: 70%;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.h4right h5 {
  border: 10px solid #fff;
  padding: 5px;
  display: inline-block;
  width: 70%;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.h5right h6 {
  border: 10px solid #fff;
  padding: 5px;
  display: inline-block;
  width: 70%;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.h0right p {
  font-size: 18px;
  font-weight: bolder;
}
.h0right .titrh0 {
  font-size: 12px;
  font-weight: bolder;
}
.para2,
.para3,
.para4,
.para5 {
  margin-left: 15px;
}
