@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Kreon:wght@300;400;500;600;700&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,300;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  width: 100%;
}

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
}

.general {
  width: 65%;
  display: flex;
  margin: 10px;
  padding: 10px;
  height: auto;
}

.left-side {
  width: 40%;
  height: 100%;
  padding: 50px 50px;
  background-color: white;
  text-align: justify;
}

.right-side {
  width: 60%;
  height: 100%;
  padding: 50px 50px;
  background-color: #d9e7f0;
  text-align: justify;
}

.imag-container {
  width: 250px;
  text-align: center;
  border-radius: 50%;
  height: 250px;
  overflow: hidden;
}
.contact {
  margin-top: 30px;
  text-align: left;
}
.contactnumber1,
.contactnumber2,
.contactnumber3 {
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 20px;
}
.contactnumber1 img {
  margin-right: 10px;
  width: 20px;
  margin-bottom: 10px;
}

.contactnumber2 img {
  margin-right: 10px;
  width: 20px;
  margin-bottom: 10px;
}
.contactnumber3 img {
  margin-right: 10px;
  width: 20px;
  margin-bottom: 10px;
}
.paragraphe3 {
  margin-left: 50px;
  font-size: 14px;
}
.paragraphe4 img {
  width: 45px;
  height: 45px;
  margin-right: 30px;
}
.paragraphe5 img {
  width: 45px;
  height: 45px;
  margin-right: 30px;
}

.contact {
  font-weight: lighter;
  font-size: medium;
}
.h4right h5 {
  font-weight: bold;
  font-size: 16px;
}
.education {
  border: 10px solid #fff;
  padding: 5px;
  display: inline-block;
  width: 70%;
  background-color: #fff;
  font-size: 20px;
  color: #3f4855;
  font-weight: bold;
}
.h4right h5 {
  border: 10px solid #fff;
  padding: 5px;
  display: inline-block;
  width: 70%;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.h5right h6 {
  border: 10px solid #fff;
  padding: 5px;
  display: inline-block;
  width: 70%;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.h0right p {
  font-size: 18px;
  font-weight: bolder;
}
.h0right .titrh0 {
  font-size: 12px;
  font-weight: bolder;
}
.para2,
.para3,
.para4,
.para5 {
  margin-left: 15px;
}
.langue1 {
  width: 50%;
  height: 12px;
  background-color: #d9e7f0;
  position: relative;
  display: flex;
  border-radius: 20px;
}
.langue2 {
  width: 30%;
  height: 12px;
  background-color: #d9e7f0;
  position: relative;
  display: flex;
  border-radius: 20px;
  text-align: center;
}
.langue3 {
  width: 20%;
  height: 12px;
  background-color: #d9e7f0;
  position: relative;
  display: flex;
  border-radius: 20px;
}
.contact,
.h2,
.h3,
.h4,
.h1right,
.para1,
.education {
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 18px;
}
.h1 {
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 13px;
}
.h4right h5 {
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 16px;
  color: #3f4855;
}
.h5right h6 {
  font-family: "Ysabeau Infant", sans-serif;
  font-size: 16px;
  color: #3f4855;
}
.h0right ul {
  margin-left: 15px;
}
